server/xsd/xmlLinks.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Organização PanAmericana da Saúde Bireme (Organização PanAmericana da Saúde Bireme) --><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">    <xs:element name="doc">        <xs:complexType>            <xs:sequence>                <xs:element ref="field" maxOccurs="unbounded"/>            </xs:sequence>        </xs:complexType>    </xs:element>    <xs:element name="docs">        <xs:complexType>            <xs:sequence>                <xs:element ref="doc"/>            </xs:sequence>        </xs:complexType>    </xs:element>    <xs:element name="field">        <xs:complexType>            <xs:simpleContent>                <xs:extension base="xs:string">                    <xs:attribute name="name" use="required">                        <xs:simpleType>                            <xs:restriction base="xs:NMTOKEN">                                <xs:enumeration value="link_description"/>                                <xs:enumeration value="link_in_home"/>                                <xs:enumeration value="link_name"/>                                <xs:enumeration value="link_rate"/>                                <xs:enumeration value="link_url"/>                            </xs:restriction>                        </xs:simpleType>                    </xs:attribute>                </xs:extension>            </xs:simpleContent>        </xs:complexType>    </xs:element></xs:schema>