server/xsd/xmlTrigramas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="serw">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="trigrams" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="parms" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="collection" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="path" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="size" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="terms" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="width" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxtv" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxrf" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxrel" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="minsim" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxsim" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="document" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="size" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxrf" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxrel" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="minsim" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="maxsim" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="similarlist" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="similar" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="rank" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="s" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="c" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="h" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="doc" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="jdlist" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="jd" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="doc" type="xs:string" use="optional"/>
                                                        <xs:attribute name="rank" type="xs:string" use="optional"/>
                                                        <xs:attribute name="f" type="xs:string" use="optional"/>
                                                        <xs:attribute name="w" type="xs:string" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="doc" type="xs:string" use="optional"/>
                                    <xs:attribute name="jds" type="xs:string" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="elapsed" minOccurs="0" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="optional"/>
            <xs:attribute name="date" type="xs:string" use="optional"/>
            <xs:attribute name="time" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
